<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms | Amanda Admin Template</title>
    <link rel="stylesheet" href="/283/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="/283/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/283/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/charCount.js"></script>
    <script type="text/javascript" src="/283/js/plugins/ui.spinner.min.js"></script>
    <script type="text/javascript" src="/283/js/plugins/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/283/js/custom/general.js"></script>
    <script type="text/javascript" src="/283/js/custom/forms.js"></script>

    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/283/css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/283/css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">

<div class="bodywrapper">
    <div th:insert="~{pages/header :: topHeader}"></div>
    <div th:insert="~{pages/header :: courseAndUnitHeader}"></div>
    <div th:insert="~{pages/header :: courseLeftmenuAdd}"></div>

    <div class="centercontent">

        <div class="pageheader notab">
            <h1 class="pagetitle">新建区域</h1>
        </div><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper">
            <form class="stdform stdform2" th:action="@{/admin/course/add}" th:object="${course}"  method="post">
                <p>
                    <label>课程名</label>
                    <span class="field">
                        <input type="text" th:value="${course.name}" class="longinput" placeholder="courseName" name="courseName" id="courseName">
                    </span>
                </p>

                <p class="stdformbutton">
                    <button class="submit radius2">提交</button>
                </p>
            </form>
        </div><!--contentwrapper-->

    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
</html>
