<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportswork.sportswork.core.mapper.CourseMapper">
    <!--添加课程-->
    <insert id="addCourse" useGeneratedKeys="true" keyProperty="id" parameterType="Course">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        INSERT INTO course (id, name, classhour, number)
        VALUES (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{classHour,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR})
    </insert>

    <!--删除课程-->
    <delete id="deleteCourse" parameterType="String">
        DELETE FROM course
        WHERE id = #{id}
    </delete>

    <!--设置课程所有信息-->
    <update id="setCourse" parameterType="Course">
        UPDATE course
        SET name = #{name},
            classhour = #{classHour}
        WHERE id = #{id}
    </update>

    <!--获取所有课程-->
    <resultMap id="selectCourses" type="Course"/>
    <select id="getAllCourses" resultMap="selectCourses">
        SELECT
            id,
            name,
            classhour,
            number
        FROM course
        ORDER BY (id + 0) ASC
    </select>

    <!--获取课程信息-->
    <select id="getCourse" resultType="Course">
        SELECT
            id,
            name,
            classhour,
            number
        FROM course
        WHERE id = #{id}
    </select>

    <!--通过课程编号获取课程信息-->
    <select id="getCourseByNumber" resultType="Course">
        SELECT
            id,
            name,
            classhour,
            number
        FROM course
        WHERE number = #{number}
    </select>

    <!--获取课程数量-->
    <select id="getCount" resultType="long">
        SELECT COUNT(1)
        FROM course
    </select>
</mapper>