<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportswork.sportswork.core.mapper.EquipmentMapper">
    <!--添加器材-->
    <insert id="addEquipment" useGeneratedKeys="true" keyProperty="id" parameterType="Equipment">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        INSERT INTO equipment (id, name, count, lend)
        VALUES (#{id}, #{name}, #{count}, #{lend})
    </insert>

    <!--删除器材-->
    <delete id="deleteEquipment" parameterType="String">
        DELETE FROM equipment
        WHERE id = #{id}
    </delete>

    <!--设置器材所有信息-->
    <update id="setEquipment" parameterType="Equipment">
        UPDATE equipment
        SET name = #{name},
            count = #{count},
            lend = #{lend}
        WHERE id = #{id}
    </update>

    <!--设置器材借出数量-->
    <update id="setEquipmentLend" parameterType="Equipment">
        UPDATE equipment
        SET
            lend = #{lend}
        WHERE id = #{id}
    </update>

    <!--获取所有器材-->
    <resultMap id="selectEquipments" type="Equipment"/>
    <select id="getAllEquipments" resultMap="selectEquipments">
        SELECT
            id,
            name,
            count,
            lend
        FROM equipment
        ORDER BY (id + 0) ASC
    </select>

    <!--获取器材信息-->
    <select id="getEquipment" resultType="Equipment">
        SELECT
            id,
            name,
            count,
            lend
        FROM equipment
        WHERE id = #{id}
    </select>

    <!--通过器材名模糊获取器材信息-->
    <select id="getEquipmentByNameLike" resultType="Equipment" parameterType="String">
        SELECT
            id,
            name,
            count,
            lend
        FROM equipment
        WHERE 1=1
        <if test='_parameter!=""'>
            AND name like "%"#{_parameter}"%"
        </if>
    </select>

    <!--获取器材数量-->
    <select id="getCount" resultType="long">
        SELECT COUNT(1)
        FROM equipment
    </select>
</mapper>