<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="hg-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/hg-layui-admin-ui/css/font.css">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/admin/admin.css" media="all">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/Scrollbar/jquery.scrollbar.css">
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/admin/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/Scrollbar/jquery.scrollBar.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/layui/layui.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/admin/admin.js"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="layui-body-content">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="iconfont">&#xe6ac;</i>课程数据表
                <span class="layui-layout-right">
                    <a href="javascript:;" hg-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </span>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>
    </div>
</body>
<script>
    //修改
    function edit(obj) {
        //obj通过行tool修改-lay-event
        var row = obj ? obj : hg.table.datatable('test', 'getSelected');
        if (row) {
            hg.open('编辑体育测试', '/admin/sportsTest/edit.html?id='+
                row.data.id + '&name=' + row.data.name + '&passMark=' + row.data.passMark
                , 600, 400);
        } else {
            hg.msg('请选中一行数据，再操作！');
        }
    }
    //删除
    function del(obj) {
        //obj通过行tool删除-lay-event
        var row = obj ? obj : hg.table.datatable('test', 'getSelected');
        if (row) {
            hg.confirm("删除当前选中的体育测试，确定要删除吗？", function () {
                //row.del(); //只删本地数据
                var id = row.data.id;
                $.ajax({
                    type:"POST",
                    url:"delete",
                    data:{"id":id},
                    dataType:"json",
                    success:function (data) {
                        if(data === true){//删除成功：移除删除行
                            hg.msg('删除成功！');
                            hg.table.datatable('test', 'reload');
                        }else{//删除失败
                            hg.msg('删除失败！');
                        };
                    },
                    error: function (data,type, err) {
                        console.log("ajax错误类型："+type);
                        console.log(err);
                        hg.msg('删除失败！');
                    }
                });
            });
        } else {
            hg.msg('请选中一行数据，再操作！');
        }
    }
    //监听表单提交事件
    hg.form.onsubmit('sreach', function (data) {
        var start = data.start;
        var end = data.end;
        if (start && end) {
            if (start > end) {
                hg.msg("时间范围错误，请重新选择!");
                return false;
            }
        } else if (start || end) {
            hg.msg("时间范围错误，请重新选择!");
            return false;
        }
        hg.msg(JSON.stringify(data));
        table && table.reload(data);
    });
    var tableCols = [
        [{
            field: 'name',
            width: '40%',
            title: '体育测试项目',
            minWidth: 100,
            style: 'color: #ff5722;',
            sort: true
        }, {
            field: 'passMark',
            width: '20%',
            title: '及格标准',
            minWidth: 100
        }, {
            field: 'right',
            width: '20%',
            title: '操作',
            templet: function (d) {
                return '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>'
            }
        }]
    ];
    var toolbar = [{
            text: '添加',
            layuiicon: '&#xe608;',
            handler: function () {
                hg.open('添加体育测试', '/admin/sportsTest/add.html', 600, 400);
            }
        },
        {
            text: '修改',
            layuiicon: '&#xe642;',
            handler: function (obj, row) {
                if (row) {
                    hg.open('编辑体育测试', '/admin/sportsTest/edit.html?id='+
                        row.data.id + '&name=' + row.data.name + '&passMark=' + row.data.passMark
                        , 600, 400);
                } else {
                    hg.msg('请选中一行数据，再操作！');
                }
            }
        }, {
            text: '删除',
            layuiicon: '&#xe640;',
            handler: function (obj, row) {
                if (row) {
                    hg.confirm("删除当前选中的体育测试，确定要删除吗？", function () {
                        //row.del(); //只删本地数据
                        var id = row.data.id;
                        $.ajax({
                            type: "POST",
                            url: "delete",
                            data: {"id": id},
                            dataType: "json",
                            success: function (data) {
                                if (data === true) {//删除成功：移除删除行
                                    hg.msg('删除成功！');
                                    hg.table.datatable('test', 'reload');
                                } else {//删除失败
                                    hg.msg('删除失败！');
                                }
                            },
                            error: function (data, type, err) {
                                console.log("ajax错误类型：" + type);
                                console.log(err);
                                hg.msg('删除失败！');
                            }
                        });
                    });
                } else {
                    hg.msg('请选中一行数据，再操作！');
                }
            }
        }
    ];
    //基本数据表格
    var table = hg.table.datatable('test', '体育测试信息管理', 'getAllSportsTests', {}, tableCols, toolbar, true, 'full-210', ['filter', 'print', 'exports']);

</script>

</html>